<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mislab.excellentroom.dao.HomePageDao">
    <resultMap id="HomePage" type="cn.edu.cqupt.mislab.excellentroom.domain.entity.HomePage">
        <result property="projectID" column="projectID" jdbcType="VARCHAR"/>
        <result property="homePageBkgroundUrl" column="homePageBkgroundUrl" jdbcType="VARCHAR"/>
        <result property="homePageLogoUrl" column="homePageLogoUrl" jdbcType="VARCHAR"/>
        <result property="homePageIconUrl" column="homePageIconUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateHomePageBkGround">
        update t_project_information
        set homePageBkground = #{homePageBkGroundUrl}
        where projectId = #{projectID}
    </update>

    <update id="updateHomePageLogo">
        update t_project_information
        set homePageLogo = #{homePageLogoUrl}
        where projectId = #{projectID}
    </update>

    <update id="updateHomePageIcon">
        update t_homePageIcon
        set homePageIcon = #{homePageIconUrl}
        where projectId = #{projectID}
    </update>


</mapper>