<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mislab.excellentroom.dao.HonorDao">
    <!-- 更新品牌荣誉背景图片（无删除）-->
    <update id="updateHonorBkground" parameterType="string">
        UPDATE  t_project_information
        SET brandHonorBkground = #{bkground}
        WHERE projectId = #{projectId}
    </update>
    <!-- 查找品牌荣誉背景图片-->
    <select id="searchHonorBkground" parameterType="string" resultType="string">
        SELECT brandHonorBkground
        FROM t_project_information
        WHERE projectId = #{projectId}
    </select>
    <!-- 查找品牌荣誉轮播图片（无更新）-->
    <select id="searchHonorPic" resultType="java.lang.String" >
        SELECT pic
        FROM t_brand_honor_pic
        WHERE projectId = #{projectId}
    </select>
    <!-- 查找品牌荣誉文本（无更新）-->
    <select id="searchHonorText" resultType="java.lang.String" >
        SELECT text
        FROM t_brand_honor_text
        WHERE projectId = #{projectId}
    </select>
    <!-- 删除指定品牌荣誉轮播图片-->
    <delete id="deleteHonorPic" parameterType="string">
        DELETE FROM t_brand_honor_pic
        WHERE projectId = #{projectId} AND pic = #{pic}
    </delete>
    <!-- 新增品牌荣誉轮播图片-->
    <insert id="addHonorPic" parameterType="string">
        INSERT INTO t_brand_honor_pic(projectId,pic)
        VALUE (#{projectId},#{pic})
    </insert>
    <!-- 删除指定品牌荣誉文本-->
    <delete id="deleteHonorText" parameterType="string">
        DELETE FROM t_brand_honor_text
        WHERE projectId = #{projectId} AND text = #{text}
    </delete>
    <!-- 新增品牌荣誉文本-->
    <insert id="addHonorText" parameterType="string">
        INSERT INTO t_brand_honor_Text(projectId,text)
        VALUE (#{projectId},#{text})
    </insert>
</mapper>