<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mislab.excellentroom.dao.UserDao">
    <resultMap id="User" type="cn.edu.cqupt.mislab.excellentroom.domain.entity.User">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="user">
        userName,password
    </sql>

    <select id="login" resultMap="User" resultType="cn.edu.cqupt.mislab.excellentroom.domain.entity.User">
        SELECT *
        FROM t_login
        WHERE userName = #{userName} AND password = #{password}
    </select>

    <insert id="addUser" >
        INSERT INTO t_login(userName, password)
        VALUES (#{userName},#{password})
    </insert>

    <delete id="deleteUserByuserName" parameterType="cn.edu.cqupt.mislab.excellentroom.domain.entity.User">
        DELETE
        FROM t_login
        WHERE userName = #{userName}
    </delete>

    <select id="findAll" resultMap="User" resultType="cn.edu.cqupt.mislab.excellentroom.domain.entity.User">
        select <include refid="user"/>
        from t_login
    </select>

    <select id="selectUserById" resultMap="User" resultType="cn.edu.cqupt.mislab.excellentroom.domain.entity.User">
        SELECT id
        FROM t_login
    </select>
</mapper>