<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mislab.excellentroom.dao.CompanyProfilesDao">
    <select id="searchTitle" parameterType="string" resultType="string">
        SELECT companyIntroduceTitle
        FROM t_project_information
        WHERE projectId = #{projectId}
        ORDER BY id
    </select>
    <select id="searchText" parameterType="string" resultType="string">
        SELECT companyIntroduceText
        FROM t_project_information
        WHERE projectId = #{projectId}
        ORDER BY id
    </select>
    <select id="searchVideo" parameterType="string" resultType="string">
        SELECT companyIntroduceVideo
        FROM t_project_information
        WHERE projectId = #{projectId}
        ORDER BY id
    </select>
    <select id="searchPic" parameterType="string" resultType="string">
        SELECT pic
        FROM t_brand_company
        WHERE projectId = #{projectId}
        ORDER BY id
    </select>

</mapper>
