<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.mislab.excellentroom.dao.ProjectDao">
    <sql id="project">
        projectId,province,district,name,tel,QRcodename,QRcode
    </sql>

    <!--<sql id="addProject">

     </sql>-->
    <insert id="addProject" >
            INSERT INTO t_project_information(projectId,province,district,name,tel,QRcodename,QRcode)
            VALUE (#{projectId},#{province},#{district},#{name},#{tel},#{QRcodename},#{QRcode});
    </insert>

    <delete id="deleteProject">
        DELETE FROM t_project_information
        WHERE projectId = #{projectId}
    </delete>

    <select id="searchProjectByOne" parameterType="string" resultType="cn.edu.cqupt.mislab.excellentroom.domain.entity.Project">
        SELECT project
        FROM t_project_information
        WHERE name = #{provinceOrName} OR province = #{provinceOrProjectId}
        ORDER BY id
    </select>

    <select id="searchProjectByTwo" parameterType="string" resultType="cn.edu.cqupt.mislab.excellentroom.domain.entity.Project">
        SELECT project
        FROM t_project_information
        WHERE province = #{province} AND district = #{district}
        ORDER BY id
    </select>

    <update id="updateProject" parameterType="cn.edu.cqupt.mislab.excellentroom.domain.entity.Project" >
        UPDATE t_project_information
        SET province = #{province},district = #{district},name = #{name},tel = #{tel},QRcodename = #{QRcodename},QRcode = #{QRcode}
        WHERE projectId = #{province}
    </update>


</mapper>